APP_NAME=FuturMeal
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://futurmeal.example.com

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=futurmeal
DB_USERNAME=root
DB_PASSWORD=

QUEUE_CONNECTION=database

LOGSNAG_TOKEN=
LOGSNAG_PROJECT=futurmeal
LOGSNAG_ENABLED=true

EDAMAM_APP_ID=
EDAMAM_APP_KEY=
